<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser; else genericHeader">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/">Home</a>
    <a class="nav-item nav-link" (click)="logout()">Logout</a>
  </div>
</nav>

<ng-template #genericHeader>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link pointer" (click)="this.router.navigate(['/login'])">Login</a>
    </div>
  </nav>
</ng-template>


<br/>
<!-- main app container -->
<div class="container">
  <router-outlet></router-outlet>
</div>
